* {
  box-sizing: border-box;
}

.relative {
  /* 配合绝对定位测试 */
  /* 此时为box2最近的有定位设置的祖先元素，此时以该容器的0，0左标作为参照点 */
  position: relative;
}

.relative > div {
  float: left;
  width: 150px;
  height: 150px;
  border: 1px solid red;
  line-height: 150px;
  text-align: center;
}

/* 清除浮动 */
.relative:after {
  content: "";
  display: block;
  clear: both;
}

.box1 {
  background-color: yellow;
}

.box2 {
  background-color: forestgreen;
  /* 相对定位 */
  /* position: relative;
  top: 50px;
  left: 50px; */
  /* 绝对定位 */
  /* position: absolute;
  top: 50px;
  left: 50px; */
  /* 固定定位 */
  /* position: fixed;
  bottom: 10px;
  right: 0px; */
}

.box3 {
  background-color: aqua;
}

.sticky {
  height: 30px;
  background-color: blueviolet;
  text-align: center;
  line-height: 30px;
  color: white;
  position: sticky;
  top: 0px;
  /* top: 100px; */
}